body {
  margin:0;
  padding:0;
  width:100%;
  
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;

}

input[type="file"] {
  display: none;
}
/* .custom-file-upload {
  background-color: #116A7B;
  border-radius: 7%;
  padding: 0.7vw 0.7vw;
  margin: 0.3vw;
  cursor: pointer;
} */

#loginline {
  text-decoration: none;
}

.breed-image {
  width: 200px;
  height: 150px;
}

